.bar-option {
  /* sizing */
  width: 100%;
  height: 50px;

  /* offsets */
  margin-bottom: 30px;
  line-height: 50px;

  /* decor */
  cursor: pointer;
}



.text-option {
  /* nature */
  display: inline;
  position: relative;
  z-index: 2;

  /* offsets */
  left: 70px;

  /* decor */
  color: var(--bright);
  font-size: 24px;
  transition: 0.1s linear;
}

.bar-option:hover .text-option {
  /* decor */
  color: var(--dark);
  font-size: 26px;
}



.icon-option {
  /* nature */
  position: relative;
  z-index: 2;

  /* sizing */
  width: 35px;
  height: 35px;

  /* offsets */
  top: 7.5px;
  left: 55px;
  
  /* decor */
  filter: invert(100%);
  transition: 0.1s linear;
}

.bar-option:hover .icon-option {
  /* decor */
  filter: invert(0%)
}



.fancy-tab {
  /* nature */
  position: relative;
  z-index: 1;

  /* sizing */
  width: 0px;
  height: 80px;

  /* offsets */
  left: 300px;
  bottom: 69px;

  /* decor */
  background-color: var(--bright);
  box-shadow: inset 10px 0 5px -5px hsla(0,0%,0%,.25);
  border-radius: 20px 0 0 20px;
  transition: 0.1s linear;
}

.bar-option:hover .fancy-tab {
  /* sizing */
  width: 285px;

  /* offsets */
  left: 15px;
}



.fancy-corner {
  /* nature */
  position: relative;

  /* sizing */
  width: 0px;
  height: 120px;

  /* offsets */
  left: 300px;
  bottom: 169px;

  /* decor */
  background-color: var(--bright);
  transition: 0.1s linear;
}

.bar-option:hover .fancy-corner {
  /* sizing */
  width: 20px;

  /* offsets */
  left: 280px;
}



.fancy-cover {
  /* nature */
  position: relative;
  background-color: var(--primary);

  /* sizing */
  width: 0px;
  height: 20px;

  /* offsets */
  left: 300px;

  /* decor */
  transition: 0.1s linear;
}

.bar-option:hover .fancy-cover {
    /* sizing */
    width: 20px;
    
    /* offsets */
    left: 280px;
}



.cov-bottom {
  /* offsets */
  bottom: 189px;

  /* decor */
  border-radius: 0 20px 0 0;
}

.cov-top {
  /* offsets */
  bottom: 309px;

  /* decor */
  border-radius: 0 0 20px 0;
}