#root {
  /* global color palette */
  --bright: #FDF6F3;
  --dark: #000000;
  --primary: #12539A;
  --secondary: #72C3FE;
  --accent: #D88B64;

  /* sizing */ 
  width: 100%;
  min-height: 100%;
  height: 100%;

  /* offsets */ 
  margin: 0 auto;
  padding: 0;

  /* decor */
  font-family: "Poppins", sans-serif;
  background-color: var(--bright);
}

body {
  /* sizing */
  width: 100%;
  height: 100%;
}

html {
  /* sizing */
  height: 100%;
}


.App{
  background-color: #f0f4f8;
  min-height: 100vh;
  padding: 20px;
}
